<div class="modal fade" id="resultadoEntradaModal" tabindex="-1" aria-labelledby="resultadoEntradaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="resultadoEntradaModalLabel">Resultado Entrada</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <p><strong>ID do Evento:</strong> <span id="resultado-entrada-evento-id" class="text-muted"></span></p>
            <p><strong>Mercado:</strong> <span id="resultado-entrada-mercado" class="text-muted"></span></p>
          </div>
          
          <div class="mb-3">
            <label for="novaOddInput" class="form-label">Resutado Entrada</label>
            <div class="input-group">
                <select class="form-select form-select-sm resultado-entrada-select">
                <option value="" 
                    {% if not entrada.resultado_aposta %}selected{% endif %}>
                    Selecione
                </option>
                <option value="G" 
                    {% if entrada.resultado_aposta == 'G' %}selected{% endif %}>
                    Ganhou
                </option>
                <option value="E" 
                    {% if entrada.resultado_aposta == 'E' %}selected{% endif %}>
                    Empatou
                </option>
                <option value="P" 
                    {% if entrada.resultado_aposta == 'P' %}selected{% endif %}>
                    Perdeu
                </option>
                </select>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-info" id="confirmarResultadoEntradaBtn">
            <i class="bi bi-save"></i> Salvar
          </button>
        </div>
      </div>
    </div>
  </div>