{% extends "analytics/base.html" %}
{% load static %}
{% block content %}
<div class="main-content">
  <div class="container-fluid">
    {% comment %} <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="h3 mb-0 text-gray-800">Clubes</h1>
    </div> {% endcomment %}
    {% if messages %}
    <div class="alert alert-success" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
    {% comment %} TODO COLACAR UM CARD LADO ESQUERDO PARA TEAMS SOFASCORE {% endcomment %}
    {% comment %} TODO COLACAR UM CARD ABAIXO LADO ESQUERDO PARA TEAMS OWNER BOALL {% endcomment %}
    {% comment %} TODO DISPOSICAO UM ABAIXO DO OUTRO {% endcomment %}
    {% comment %} TODO LADO DIRETOR INFORMACOES ÚTEIS PARA AS APOSTAS SOBRE O CLUBE {% endcomment %}
    {% endif %}

    <table class="table table-hover" id="marketsTable">
      <thead>
        <tr>
          <th class="col-id">ID</th>
          <th class="col-mercado">Bandeira</th>
          <th class="col-odd">nome</th>
        </tr>
      </thead>
      <tbody>
        {% if teams %}
          {% for team in teams %}
          <tr>
            <td>
              {{ team.id_team }}
            </td>
            <td>
              <img src="{{ team.icon }}" alt="Icon" style="width: 30px; height: 30px; margin-right: 3px;">
              {{ team.name }}
            </td>
            <td>
              {{ team.ativo}}
            </td>
          </tr>
          {% endfor %}
          {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
